
<section class="ressource-child">

  <div class="file_view">
    <img src="this.ressource.url">
  </div>

  <div class="details" v-if="ressource.categorie == 'Architecture'">
    <div v-if="ressource.name">
      <label>Nom :</label>
      {{ressource.name}}
    </div>
    <div v-if="ressource.lower_categorie">
      <label>Type :</label>
      {{ressource.lower_categorie}}
    </div>
    <div v-if="ressource.abstract_object[0]">
      <label>Raison sociale :</label>
      {{ressource.abstract_object}}
    </div>
    <div v-if="ressource.type_object">
      <label>Batiment :</label>
      {{ressource.type_object}}
    </div>
    <div v-if="ressource.period">
      <label>Période :</label>
      {{ressource.period}}
    </div>
    <div class="date" v-if="ressource.date">
      <label>Date :</label>
        {{ressource.date_day}}<span> /</span>
        {{ressource.date_month}}<span> /</span>
        {{ressource.date_year}}
    </div>
    <div class="typologie" v-if="ressource.fk_typologie">
      <label>Typologie :</label>
      <div v-if="ressource.plan">
        <label>Plan :</label>
        {{ressource.plan}}
      </div>
      <div v-if="ressource.wall">
        <label>Murs :</label>
        {{ressource.wall}}
      </div>
      <div v-if="ressource.roof">
        <label>Toit :</label>
        {{ressource.roof}}
      </div>
      <div v-if="ressource.floor">
        <label>Etage :</label>
        {{ressource.floor}}
      </div>
      <div v-if="ressource.surface">
        <label>Couverture :</label>
        {{ressource.surface}}
      </div>
      <div v-if="ressource.light">
        <label>Lumière :</label>
        {{ressource.light}}
      </div>
      <div v-if="ressource.materials">
        <label>Matériaux :</label>
        {{ressource.materials}}
      </div>
    </div>
    
    <div v-if="ressource.energy">
      <label>Energie :</label>
      {{ressource.energy}}
    </div>
    <div class="Adresse" v-if="ressource.place[0]">
      <label>Adresse :</label>
      <div v-if="ressource.place_name">
        <label>Nom du lieu :</label>
        {{ressource.place_name}}
      </div>
      <div v-if="ressource.street_number">
        <label>Numéro de rue :</label>
        {{ressource.street_number}}
      </div>
      <div v-if="ressource.street_type">
        <label>Extension :</label>
        {{ressource.street_type}}
      </div>
      <div v-if="ressource.street_name">
        <label>Nom de la rue :</label>
        {{ressource.street_name}}
      </div>
      <div v-if="ressource.post_code">
        <label>Code postal :</label>
        {{ressource.post_code}}
      </div>
      <div v-if="ressource.city">
        <label>Ville :</label>
        {{ressource.city}}
      </div>
      <div v-if="ressource.country">
        <label>Pays :</label>
        {{ressource.country}}
      </div>
      <div v-if="ressource.place_said">
        <label>Lieu-dit :</label>
        {{ressource.place_said}}
      </div>
      <div v-if="ressource.place_description">
        <label>Description :</label>
        {{ressource.place_description}}
      </div>
      
    </div>
    <div class="Source" v-if="ressource.source">
      <div v-if="ressource.source_name">
        <label>Nom de la source :</label>
        {{ressource.source_name}}
      </div>
      <div class="date" v-if="ressource.source_date">
        <label>Date :</label>
        {{ressource.source_date_day}}<span> /</span>
        {{ressource.source_date_month}}<span> /</span>
        {{ressource.source_date_year}}
      </div>
      <div v-if="ressource.source_date_complement">
        <label>Complément de date :</label>
        {{ressource.source_date_complement}}
      </div>
      <div v-if="ressource.conservation_place">
        <label>Lieu de conservation :</label>
        {{ressource.conservation_place}}
      </div>
      <div v-if="ressource.cote">
        <label>Cote :</label>
        {{ressource.cote}}
      </div>
      <div v-if="ressource.editor">
        <label>Editeur :</label>
        {{ressource.editor_name}}
        {{ressource.editor_lastname}}
        {{ressource.editor_status}}
      </div>
      <div v-if="ressource.rights">
        <label>Droits :</label>
        {{ressource.rights}}
      </div>
      <div v-if="ressource.file_type">
        <label>Type :</label>
        {{ressource.file_type}}
      </div>
      <div v-if="ressource.file_extension">
        <label>Format :</label>
        {{ressource.file_extension}}
      </div>
      <div v-if="ressource.registration">
        <label>Immatriculation :</label>
        {{ressource.registration}}
      </div>
      <div v-if="ressource.original_registration">
        <label>Immatriculation originelle :</label>
        {{ressource.original_registration}}
      </div>
      <div v-if="ressource.author">
        <label>Auteur notice :</label>
        {{ressource.author_name}}
        {{ressource.author_lastname}}
        {{ressource.author_status}}
      </div>
      <div v-if="ressource.study">
        <label>Etude :</label>
        {{ressource.study}}
      </div>
      <div v-if="ressource.state">
        <label>Etat :</label>
        {{ressource.state}}
      </div>
    </div>
    <div v-if="ressource.description">
      <label>Commentaire :</label>
      {{ressource.description}}
    </div>
  </div>
  
</section>

