
<section class="human-form">
  <form class="select-type">
    <div>
      <label for="selected_type">Veuillez sélectionner un type : </label>
      <select v-model="selected_type"> 
        <option selected disabled>Sélectionnez un type</option>
        <option value="MainOeuvre">Main d'oeuvre</option>
        <option value="OeuvreSociales">Oeuvres sociales</option>
        <option value="Formation">Formation</option>
      </select>
    </div>
  </form>

  <form class="ressource-form" v-if="selected_type">
    <div>
      <label for="designation"> Désignation : </label>
      <input v-model="designation" type="text" name="designation" id="designation" required>
    </div>

    <div>
      <label for="repères_historiques">Repères historiques : </label>
      <input v-model="repères_historiques" type="text" name="repères_historiques" id="repères_historiques" required>
    </div>

    <div>
      <label for="date">Date : </label>
      <input v-model="date" type="date" name="date" id="date">
    </div>

    <div>
      <label for="localization">Localisation : </label>
      <input v-model="localization" type="text" name="localization" id="localization" required>
    </div>

    <div>
      <label for="adresse">Adresse : </label>
      <input v-model="adresse" type="text" name="adresse" id="adresse">
    </div>

    <div>
      <label for="description">Description : </label>
      <input v-model="description" type="text" name="description" id="description" required>
    </div>

    <div>
      <label for="mots_cles">Mots-clés : </label>
      <input v-model="mots_cles" type="text" name="mots_cles" id="mots_cles" required>
    </div>

    <div>
      <label for="source">Source : </label>
      <input v-model="source" type="text" name="source" id="source" required>
    </div>

    <div>
      <label for="editeur">Editeur : </label>
      <input v-model="editeur" type="text" name="editeur" id="editeur">
    </div>

    <div>
      <label for="droits">Droits : </label>
      <input v-model="droits" type="text" name="droits" id="droits">
    </div>

    <div>
      <label for="ressource_type">Type : </label>
      <input v-model="ressource_type" type="text" name="ressource_type" id="ressource_type" required>
    </div>

    <div>
      <label for="format">Format : </label>
      <select v-model="format" @change="getFormatGroup($event)" required>
        <optgroup label="Image">
          <option value="JPG">JPG</option>
          <option value="PNG">PNG</option>
        </optgroup>
        <optgroup label="Video">
          <option value="MP4">MP4</option>
          <option value="AVI">AVI</option>
          <option value="MOV">MOV</option>
        </optgroup>        
        
        <optgroup  label="Document">
          <option value="PDF">PDF</option>
        </optgroup>

        <optgroup label="Cao">
          <option value="STL">STL</option>
          <option value="CAD">CAD</option>
        </optgroup>

        <optgroup label="Audio">
          <option value="MP3">MP3</option>
          <option value="FLAC">FLAC</option>
          <option value="WAV">WAV</option>
        </optgroup>
        
      </select>
    </div>

    <div>
      <label for="immatriculation">Immatriculation : </label>
      <input v-model="immatriculation" type="text" name="immatriculation" id="immatriculation" required>
    </div>

    <div>
      <label for="etude">Etude : </label>
      <input v-model="etude" type="text" name="etude" id="etude" required>
    </div>

    <div>
      <label for="autheur">Autheur : </label>
      <input v-model="autheur" type="text" name="autheur" id="autheur">
    </div>

    <div>
      <label for="date_etude">Date de l'étude : </label>
      <input v-model="date_etude" type="date" name="date_etude" id="date_etude" required>
    </div>
  </form>

  <div class="output" v-html="output">{{ output }}</div>

  
  <div class="uploadFile" v-if="selected_type">

    <div v-if="currentFile" class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        :aria-valuenow="progress"
        aria-valuemin="0"
        aria-valuemax="100"
        :style="{ width: progress + '%' }"
      >
        {{ progress }}%
      </div>
    </div>

    <label class="btn btn-default">
      <input type="file" ref="file" @change="selectFile" />
    </label>

    <button class="btn btn-success" :disabled="!selectedFiles" @click="upload">
      Upload
    </button>

    <div class="alert alert-light" role="alert">{{ message }}</div>
  </div>
  <!-- <upload-files :type="formatGroup" v-if="formatGroup" v-on:getId="getDataFromFileHandler"></upload-files> -->

</section>

