.human-form {

}

.select-type{
    margin-bottom: 3em;
}

.select{
    display: grid;
    place-content: center;
}

.select[multiple]{
    display: grid;
    grid-template-areas: "select";
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 12px;


    min-width: 15ch;
    max-width: 30ch;

    border: 1px solid var(--select-border);
    /* border-radius: 0.25em; */
    padding: 0.25em 0.5em;

    /* font-size: 1.25rem; */
    cursor: pointer;
    line-height: 1.1;


    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

    /* // Custom arrow */
    /* &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    } */
}

h1{
    text-align: center;
    margin-left: 100px;
    padding-bottom: 2em;
}

.architecture_actor_form{
    margin: 0 auto;
    width: 800px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.architecture_form{
    margin: 0 auto;
    width: 800px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.addProfession_form{
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.architecture_actor_form div + div {
    margin-top: 1em;
}

.architecture_form div + div {
    margin-top: 1em;
}

.architecture_actor_form label{
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 200px;
    text-align: right;
}

.architecture_form label{
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 200px;
    text-align: right;
}

input {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}


img{
    width: 20px;
    height: 20px;
}
.foreign_key{
    margin-top: 1em;
    width: 300px;
    margin-top: 1em;
    display:contents ;
}
.foreign_key input{
    width: 70px;
    font: 1em sans-serif;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus{
    border-color: #000;
}

button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-top: 1em;
    margin-left: .5em;
    background-color: #000;
    color: #CCC;
    border: 1px solid black;
    border-radius: .5em;
}

.form-button{
    margin-top: 1em;
    margin-left: .5em;
    background-color: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: .5em;
}

.form-button:hover{
    background-color: rgb(138, 138, 138);
}

button:hover{
    background-color: rgb(63, 63, 63);
}

.date{
    width: 95px;
    /* margin-right: 5em; */
}

#date_j{
    width: 50px;
}
#date_m{
    width: 50px;
}
#date_y{
    width: 100px;
    padding-right: 1em;
    margin-right: 5em;
}

#format{
    margin-right: 13.5em;
}
#addSource{
    margin-left: 12.8em;
}




























.ressource-form{
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.ressource-form div + div{
    margin-top: 1em;
}

.ressource-form label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 200px;
    text-align: right;
}

input {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}

input:focus{
    border-color: #000;
}