
<section class="bar">
  <nav>
    <h1><router-link to="/">TTM</router-link></h1>
    <div class="tech"><p>Techn'hom</p></div>
    </br>
    <div class="time"><p>Time</p></div>
    <div class="machine"><p>Machine</p></div>
    <div class="trait"></div>
    <div id="content">
      <router-link class="menu" to="/A-Propos" tag="a">A propos</router-link>
      <router-link class="menu" to="/" tag="a">Urbanisme</router-link>
      <router-link class="menu" to="/Architecture" tag="a">Architecture</router-link>
      <router-link class="menu" to="/Production" tag="a">Production</router-link>
      <router-link class="menu" to="/Hommes" tag="a">Hommes</router-link>
      <div class="modifyDatabase">
        <router-link to="/NewRessource" tag="a">Ajouter ressource</router-link>
        <router-link to="/Temoignage" tag="a">Mon témoignage</router-link>
        <router-link to="/Recherche" tag="a">Recherche</router-link>
      </div>
    </div>
  </nav>
  <!-- <div class="disapear">
    <img src="../../assets/Square.png">
  </div> -->
  </section>

