
<section class="urbanism-form">
  <!-- <h1>urbanism-form Component</h1> -->
  <form>
    <div>
      <label for="table-select">Veuillez sélectionner un type : </label>
      <select v-model="selected_type"> 
        <option selected disabled>Sélectionnez un type</option>
        <option value="UsineVille">Des usines dans la ville</option>
        <option value="Infrastructure">Infrastructure</option>
        <option value="CitéOuvrière">Cités ouvrières</option>
      </select>
    </div>
  </form>
</section>

