
<section class="production">
  <h1>Production</h1>
  <login-modal />
  <delete-ressource-modal v-bind:id="deleteID" @deleted="deletedConfirmation"/>
  <div class="ressource_list_box">
    <div class="ressource_list"> 
      <table cellspacing="0">
        <tr>
          <th>Nom de la ressource</th>
          <th>Cliquez pour voir</th>
          <th>Cliquez pour modifier</th>
          <th>Cliquez pour supprimer</th>
        </tr>
        <tr v-for="prod in production" :key="prod.id">
          <td>{{prod.name}}</td>
          <!-- <td><router-link :to="`/Architecture/${arch.id}`">Voir</router-link></td> -->
          <td><router-link :to="{name: 'Hommes/:id', params: {id: prod.id}}">Voir</router-link></td>

          <td><router-link :to="`/Hommes/${prod.id}`">Modifier</router-link></td>
          <button @click="deleteRessource(prod.id)" v-model=deleteID>Supprimer</button>
        </tr>
      </table>
    </div>
    <div class="filters">
      <h2>Filtres</h2>
    </div>
  </div>

</section>

