
<section class="production-form">
  <form>
    <div class="select">
      <label for="table-select">Veuillez sélectionner un sous-menu : </label>
      <select id="table-select" v-model="selected_menu" multiple> 
        <option selected disabled>Sélectionnez un sous-menu</option>
        <option value="Filature">Filature</option>
        <option value="ConstructionMecanique">Construction Mécanique</option>
        <option value="Informatique">Informatique</option>
      </select>
    </div>
  </form>

  <!-- Architecture part -->
  <form class="production_form">

    <div class="foreign_key">
      <label for="brand-select">Raison sociale :</label>
      <select id="brand-select" v-model="selected_brand">
        <option selected disabled>Sélectionnez une raison</option>
        <option v-for="brand in brands" v-bind:value="brand.id">
          {{ brand.name }}
        </option>
      </select>
      <input id="addbrand" v-model="addBrand" type="checkbox">
      <span><img src="@/assets/plus.png"/></span>
    </div>

    <form class="addProfession_form" v-if="addBrand">
      <div>
        <label for="brandName">Nom de la société :</label>
        <input id="brandName" v-model="brandName" type="text">
      </div>

      <div>
        <textarea placeholder="Description" v-model="brandDescription"></textarea>
      </div>
    </form>

    <div>
      <label for="building_select">Bâtiment :</label>
      <select id="building_select" v-model="building_select">
        <option selected disabled>Sélectionnez un bâtiment</option>
        <option value="Atelier d'ajustage">Atelier d'ajustage</option>
        <option value="Atelier d'usinage">Atelier d'usinage</option>
        <option value="Atelier de blanchissement">Atelier de blanchissement</option>
        <option value="Atelier de construction mécanique">Atelier de construction mécanique</option>
        <option value="Atelier de filature">Atelier de filature</option>
        <option value="Atelier de finissage">Atelier de finissage</option>
        <option value="Atelier de forge">Atelier de forge</option>
        <option value="Atelier de gros usinage">Atelier de gros usinage</option>
        <option value="Atelier de montage">Atelier de montage</option>
        <option value="Atelier de peinture">Atelier de peinture</option>
        <option value="Atelier de réparation">Atelier de réparation</option>
        <option value="Atelier de retordage">Atelier de retordage</option>
        <option value="Atelier de soudure">Atelier de soudure</option>
        <option value="Atelier de teinturerie">Atelier de teinturerie</option>
        <option value="Atelier de tôlerie">Atelier de tôlerie</option>
        <option value="Atelier de tréfilerie">Atelier de tréfilerie</option>
        <option value="Bureaux">Bureaux</option>
        <option value="Centre de formation">Centre de formation</option>
        <option value="Chaufferie">Chaufferie</option>
        <option value="Eglise">Eglise</option>
        <option value="Entrepôt">Entrepôt</option>
        <option value="Fonderie">Fonderie</option>
        <option value="Garage">Garage</option>
        <option value="Gazogène">Gazogène</option>
        <option value="Hangar">Hangar</option>
        <option value="Infirmerie">Infirmerie</option>
        <option value="Laboratoire">Laboratoire</option>
        <option value="Loge du concierge">Loge du concierge</option>
        <option value="Logement de contremaître">Logement de contremaître</option>
        <option value="Logement de gardien">Logement de gardien</option>
        <option value="Logement ouvrier">Logement ouvrier</option>
        <option value="Logament patronal">Logament patronal</option>
        <option value="Magasin">Magasin</option>
        <option value="Salle blanche">Salle blanche</option>
        <option value="Salle des machines">Salle des machines</option>
        <option value="Station électrique">Station électrique</option>
        <option value="Transformateur">Transformateur</option>
      </select>
    </div>

    <div>
      <label for="machine_select">Machine :</label>
      <select id="machine_select" v-model="machine_select">
        <option selected disabled>Sélectionnez une machine</option>
        <option value="Banc en fin">Banc en fin</option>
        <option value="Banc en gros">Banc en gros</option>
        <option value="Banc intermédiaire">Banc intermédiaire</option>
        <option value="Banc surfin">Banc surfin</option>
        <option value="Batteur">Batteur</option>
        <option value="Bobinoir-Assembleur">Bobinoir-Assembleur</option>
        <option value="Brise balle">Brise balle</option>
        <option value="Carde">Carde</option>
        <option value="Chargeuse">Chargeuse</option>
        <option value="Continu à filer">Continu à filer</option>
        <option value="Continu à retordre au mouillé">Continu à retordre au mouillé</option>
        <option value="Dévidoir croisé">Dévidoir croisé</option>
        <option value="Effilocheuse">Effilocheuse</option>
        <option value="Etirage fin">Etirage fin</option>
        <option value="Etirage gros">Etirage gros</option>
        <option value="Flambeuse">Flambeuse</option>
        <option value="Ouvreuse">Ouvreuse</option>
        <option value="Peigneuse">Peigneuse</option>
        <option value="Réunisseuse">Réunisseuse</option>
      </select>
    </div>

    <div>
      <label for="periode_select">Période :</label>
      <select id="periode_select" v-model="periode_select">
        <option selected disabled>Sélectionnez une période</option>
        <option value="1er quart 19e siècle">1er quart 19e siècle</option>
        <option value="2e quart 19e siècle">2e quart 19e siècle</option>
        <option value="3e quart 19e siècle">3e quart 19e siècle</option>
        <option value="4e quart 19e siècle">4e quart 19e siècle</option>
        <option value="1er quart 20e siècle">1er quart 20e siècle</option>
        <option value="2e quart 20e siècle">2e quart 20e siècle</option>
        <option value="3e quart 20e siècle">3e quart 20e siècle</option>
        <option value="4e quart 20e siècle">4e quart 20e siècle</option>
        <option value="1er quart 21e siècle">1er quart 21e siècle</option>
      </select>
    </div>

    <div>
      <label for="date">Date :</label>
      <input class="date" id="date_d" v-model="date_d" type="number" min='0' max='31'><span>/</span>
      <input class="date" id="date_m" v-model="date_m" type="number" min='0' max='12'><span>/</span>
      <input class="date" id="date_y" v-model="date_y" type="number" min='0' max='9999'>
    </div> 

    <div>
      <label for="constructeur">Constructeur :</label>
      <input id="addConstr" v-model="addConstr" type="checkbox">
      <span><img src="@/assets/plus.png"/></span>
    </div>

    <form class="addProfession_form" v-if="addConstr">
      <div>
        <label for="inscript_select">Inscriptions :</label>
        <select id="inscript_select" v-model="inscript_select">
          <option selected disabled>Sélectionnez une inscription</option>
          <option value="Date">Date</option>
          <option value="Inscription concernant le fabricant">Inscription concernant le fabricant</option>
          <option value="Inscription concernant le lieu d'exécution">Inscription concernant le lieu d'exécution</option>
        </select>
      </div>

      <div>
        <label for="inscript_comp">Précision sur les inscriptions :</label>
        <input id="inscript_comp" v-model="inscript_comp" type="text">
      </div>
    </form>
    <div>
      <label for="energie_select">Energie :</label>
      <select id="energie_select" v-model="energie_select">
        <option selected disabled>Sélectionnez une énergie</option>
        <option value="Energie animale">Energie animale</option>
        <option value="Energie électrique">Energie électrique</option>
        <option value="Energie éolienne">Energie éolienne</option>
        <option value="Energie humaine">Energie humaine</option>
        <option value="Energie hydraulique">Energie hydraulique</option>
        <option value="Energie solaire">Energie solaire</option>
        <option value="Energie thermique">Energie thermique</option>
        <option value="Achetée">Achetée</option>
        <option value="Produite à distance">Produite à distance</option>
        <option value="Produite sur place">Produite sur place</option>
      </select>
    </div>

    <div>
      <label for="material_select">Matériaux :</label>
      <select id="material_select" v-model="material_select">
        <option selected disabled>Sélectionnez un matériaux</option>
        <option value="Acier">Acier</option>
        <option value="Bois">Bois</option>
        <option value="Cuivre">Cuivre</option>
        <option value="Fer">Fer</option>
        <option value="Fonte">Fonte</option>
        <option value="Marbre">Marbre</option>
        <option value="Synthétique">Synthétique</option>
        <option value="Aluminium">Aluminium</option>
        <option value="Zinc">Zinc</option>
        <option value="Fibre végétale">Fibre végétale</option>
        
      </select>
    </div>      

    <div>
        <textarea placeholder="Description" v-model="description"></textarea>
    </div>

    <div>
      <label for="state_select">Etat de conservation :</label>
      <select id="state_select" v-model="state_select">
        <option selected disabled>Sélectionnez un état</option>
        <option value="Complet">Complet</option>
        <option value="Incomplet">Incomplet</option>
      </select>
    </div>

    <div>
      <label for="state_comp">Précision sur l'état de conservation :</label>
      <input id="state_comp" v-model="state_comp" type="text">
    </div>

    </br>
  
    <div class="foreign_key">
      <label for="source">Source :</label>
      <input id="source" v-model="source" type="date" required>
      <input id="addSource" v-model="addSource" type="checkbox">
      <span><img src="@/assets/plus.png"/></span>
    </div>

    <form class="addProfession_form" v-if="addSource">
      <div>
        <label for="editor">Editeur :</label>
        <input id="editor" v-model="editor" type="text">
      </div>

      <div>
        <label for="droits">Droits :</label>
        <input id="droits" v-model="droits" type="text">
      </div>

      <div>
        <label for="source_type">Type :</label>
        <input id="source_type" v-model="source_type" type="text">
      </div>

      <div>
        <label for="format">Format :</label>
        <input id="format" v-model="format" type="text">
      </div>

      <div>
        <label for="immatriculation">Immatriculation :</label>
        <input id="immatriculation" v-model="immatriculation" type="number">
      </div>

      <div>
        <label for="original_immatriculation">Immatriculation originelle :</label>
        <input id="original_immatriculation" v-model="original_immatriculation" type="text">
      </div>

      <div>
        <label for="author">Auteur notice(date) :</label>
        <input id="author" v-model="author" type="text">
      </div>

      <div>
        <label for="study">Etude :</label>
        <input id="study" v-model="study" type="text">
      </div>
    </form>

    <div>
      <textarea placeholder="Commentaire" v-model="commentary"></textarea>
    </div>

  </form>
  <button class="btn btn-success" :disabled="!selected_type" @click="postActorForm">
    Envoyer
  </button>

</section>

