
<section class="hommes">
  <h1>Hommes</h1>
  <login-modal />
  <delete-ressource-modal v-bind:id="deleteID" @deleted="deletedConfirmation"/>
  <div class="ressource_list_box">
    <div class="ressource_list"> 
      <table cellspacing="0">
        <tr>
          <th>Nom de la ressource</th>
          <th>Cliquez pour voir</th>
          <th>Cliquez pour modifier</th>
          <th>Cliquez pour supprimer</th>
        </tr>
        <tr v-for="hom in hommes" :key="hom.id">
          <td>{{hom.name}}</td>
          <!-- <td><router-link :to="`/Architecture/${arch.id}`">Voir</router-link></td> -->
          <td><router-link :to="{name: 'Hommes/:id', params: {id: hom.id}}">Voir</router-link></td>

          <td><router-link :to="`/Hommes/${hom.id}`">Modifier</router-link></td>
          <button @click="deleteRessource(hom.id)" v-model=deleteID>Supprimer</button>
        </tr>
      </table>
    </div>
    <div class="filters">
      <h2>Filtres</h2>
    </div>
  </div>
</section>

