.architecture {

}

.ressource_list_box{
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
    border: 1px black solid;
    border-radius: 5px;
    height: 600px;
}

.ressource_list{
    width: 70%;
    height: 600px;
    left: 0;
    overflow: scroll;
    border-right: 5px black solid;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    
}

table td, table th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

table th{
    background-color: #1e222e;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

table tr:hover{
    background-color: rgb(209, 209, 209);
}

/* table tr:nth-child(even){background-color: #f2f2f2;} */
