
<section class="architecture">
  <h1>Architecture</h1>
  <login-modal />
  <delete-ressource-modal v-bind:id="deleteID" @deleted="deletedConfirmation"/>
  <div class="ressource_list_box">
    <div class="ressource_list"> 
      <table cellspacing="0">
        <tr>
          <th>Nom de la ressource</th>
          <th>Cliquez pour voir</th>
          <th>Cliquez pour modifier</th>
          <th>Cliquez pour supprimer</th>
        </tr>
        <tr v-for="arch in architectures" :key="arch.id">
          <td>{{arch.name}}</td>
          <!-- <td><router-link :to="`/Architecture/${arch.id}`">Voir</router-link></td> -->
          <td><router-link :to="{name: 'Architecture/:id', params: {id: arch.id}}">Voir</router-link></td>

          <td><router-link :to="`/Architecture/${arch.id}`">Modifier</router-link></td>
          <button @click="deleteRessource(arch.id)" v-model=deleteID>Supprimer</button>
        </tr>
      </table>
    </div>
    <div class="filters">
      <h2>Filtres</h2>
    </div>
  </div>

  

</section>

