
<section class="upload">
  <div id="app">
    <div>
      <form method="post" enctype="multipart/form-data">
        <label for="myfiles">Select a file:</label>
        <input type="file" id="myfiles" name="myfiles" multiple >
        <button @click="uploadBis">Send file</button>
      </form>

    </div>
    <div class="container">
      <!--UPLOAD-->
      <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
        <h1>Upload images</h1>
        <div class="dropbox">
          <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            class="input-file">
          <p v-if="isInitial">
            Click to browse
          </p>
          <p v-if="isSaving">
            Uploading {{ fileCount }} files...
          </p>
        </div>
      </form>
      <!--SUCCESS-->
      <div v-if="isSuccess">
        <h2>Uploaded {{ uploadedFiles.length }} file(s) successfully.</h2>
        <p>
          <button @click="reset()">Upload again</button>
        </p>
      </div>
      <!--FAILED-->
      <div v-if="isFailed">
        <h2>Uploaded failed.</h2>
        <p>
          <button @click="reset()">Try again</button>
        </p>
        <pre>{{ uploadError }}</pre>
      </div>
    </div>
  </div>
</section>

