.home {

}

.title {
  padding-bottom: 1em;
  margin-bottom: 0em;
  letter-spacing: .7em;
  border-bottom: 1px #111 solid ;
}

.upper-bar{
  width: 90%;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}
.upper-bar div{
  margin-top: 0;
  padding-top: 0;
}
.head{
  margin-top: 1em;
  padding-top: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 90%;
}

img{
  margin-top: 8em;
}
.main{
  margin-top: 5em;
}
button{
  font-size: 25px;
  /* font-family: 'Calibri light', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; */
  font-family: "Calibri Light", sans-serif;
  font-weight: lighter;
  letter-spacing: .1em;
}
  
  /* Style page content
  .main {
    margin-left: 15%; /* Same as the width of the sidebar */
    /* padding: 0px 10px; */
  /* } */
