
<section class="form-handler">
  <h1>form-handler Component</h1>
  <select v-model="table">
    <option disabled value="">Choisissez une table</option>
    <option>date</option>
    <option>quality</option>
    <option>author</option>
    <option>content</option>
    <option>files</option>
    <option>source</option>
    <option>placeLocation</option>
    <option>placeType</option>
    <option>place</option>
    <option>knowledge</option>
    <option>collectiveActor</option>
    <option>abstractObject</option>
    <option>profession</option>
    <option>socialActivity</option>
    <option>socialLink</option>
    <option>relationLink</option>
    <option>actor</option>
    <option>nameActor</option>
    <option>detailCaracteristic</option>
    <option>typeObject</option>
    <option>energy</option>
    <option>object</option>
    <option>caracteristic</option>
  </select>
  <button v-on:click="UploadForm"> Select</button>
</section>

