#testimony-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 10%;
    margin-right: 10%;
    
    flex-basis: auto;
}

textarea{
    resize: none;
    overflow: auto;

    height: 350px;

    flex-grow: 4;
    margin-top: 3em;
    margin-bottom: 1em;

    border-radius: 0.5em;
}

#message{
    border: 1px #000000 solid;
    border-radius: 0.5em;
    position: absolute;
    top: 25%;
    right: 27%;
    text-align: center;
    font-size: 1em;
    padding: 1em 1em 1em 1em;

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

h1{
    text-align: center;
    margin-left: 100px;
    padding-bottom: 2em;
}

.testimony{
    margin-bottom: 20em;
}