
<section class="new-ressource">
  <h1>Ajouter ressource</h1>
  <login-modal />
  <div class="selection" v-if="connected">
    <label for="category-select">Veuillez sélectionner une catégorie : </label>
    <select name="category" id="category-select" v-model='category' aria-label="Sélectionnez une catégorie">
      <option selected disabled>Sélectionnez une catégorie</option>                    
      <option value="Architecture">Architecture</option>
      <option value="Production">Production</option>
      <option value="Hommes">Hommes</option>
      <option value="addRessource">Nouvelle Ressource</option>
    </select>
  </div>

  <architecture-form v-if="category=='Architecture'"></architecture-form>
  <production-form v-if="category=='Production'"></production-form>
  <human-form v-if="category=='Hommes'"></human-form>
  <ressource-form v-if="category=='addRessource'"></ressource-form>

</section>

