.ressource {

}

body{
    margin: 0 auto;
    width: 1000px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}



#left_button{
    left: -100px;
    bottom: -300px;
    position: relative;
    height: 50px;
}

#right_button {
    left: 930px;
    bottom: -300px;
    position: relative;
    height: 50px;
}

#left_button img{
    height: 50px;
    transform: scaleX(-1);
}

#right_button img{
    height: 50px;
}



#description{
    margin-top: 2em;
}

#title{
    margin-left: 4em;
}