
<section class="login">
  <h1>Connexion</h1>

  <form class="login-form">
    <div>
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" v-model="username">
    </div>

    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" v-model="password">
    </div>

    
  </form>
  <button class="login" v-if="password != null && username !== null" v-on:click="Login">Connexion</button>

  
  </br>
  <p class="error-message" v-if="errors!=null">{{ errors }}</p>

</section>

