
<section class="homeLoged">
  <h1>home-loged Component</h1>
  <ul id="Users">
    <li v-for="item in items" :key="item.id">
      <span>Nom de la discipline : {{ item.discipline }}</span>
    </br>
      <span>Commentaire : {{ item.commentsDiscipline }}</span>
    </br>
      <span>Id de l'utilisateur : {{ item.user }}</span>
    </br>
    </li>
  </ul>
  <button v-on:click="GetProfiles"> Click here</button>
  <button v-on:click="Decrypt">Decrypt Json</button>

  <upload-files></upload-files>
</section>

